body
{
    
    background-size:1350px 770px ;
    background-position: 200px;
    box-sizing: border-box;
    
}
.ss{

display: flex;
justify-content:space-around ;

}
.s1{
    display: flex;
    justify-content: space-around;
    
    }
.s2{
        display: flex;
        justify-content: space-around;
        
        }
        .s3{
display: flex;
justify-content: space-around;


        }
        .s4{
            display: flex;
            justify-content: space-around;
            
            
                    }

input{
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}
.sakthi{
    box-sizing: border-box;
    padding: 40px 20px;
    position: relative;
    width: 50%;
    height: 650px;
    left: 25%;
    
    border: solid 2px;

}
.one{
    display: flex;
    justify-content: space-around;
}
.two{
    display: flex;
    justify-content: space-around;
}
.three{
    display: flex;
    justify-content: space-around;
}
.four{
    display: flex;
    justify-content: space-around;

}
.five{
    display: flex;
    justify-content: space-around;
}
.six{
    display: flex;
    justify-content: space-around;
}
.sevan{
    display: flex;
    justify-content: space-around;
}


.sakthi input{
display: flex;
width: 240px;
height: 25px;
}
p{
    display: flex;
    justify-content: flex-start;
}
#sm{
    display: inline;
    width: 10px;
    height: 10px;
    outline-color: black;

}
#smv{
    display: inline;
    width: 10px;
    height: 10px;
    outline-color: black;
}
span{
    margin-left: 10px;
    color: rgb(219, 51, 51);
}

.dd{
    margin-left: 17%;

}
button{
    width: 200px;
    height: 50px;
    color: antiquewhite;
    background-color: rgb(7, 8, 8)
    
}
h1{
    margin-top: -15px;
}